<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="fonts/fonts.css" />
    <link rel="stylesheet" href="css/media.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <div class="container">
        <div class="nav">
          <img src="./image/Logo-header.svg" alt="Logo" class="nav__big-logo" />
          <a href="#" class="burger">
            <span class="burger__decoration"></span>
          </a>
        </div>
        <p class="text header__text">A place where</p>
        <h1 class="title">A creative agency for redemptive brands</h1>
        <p class="text header__text">
          Anteelo is&nbsp;a&nbsp;leading strategic design firm that builds
          powerful digital solutions for startups and enterprises.
        </p>
        <a href="#" class="link">Get in touch</a>
        <div class="logos">
          <img src="/image/logos1.svg" alt="logo" class="logos__item" />
          <img src="/image/logos2.svg" alt="logo" class="logos__item" />
          <img src="/image/logos3.svg" alt="logo" class="logos__item" />
          <img src="/image/logos4.svg" alt="logo" class="logos__item" />
          <img src="/image/logos5.svg" alt="logo" class="logos__item" />
        </div>
      </div>
    </header>

    <main>
      <!-- company -->
      <section class="company">
        <div class="container">
          <div class="company__wrapper">
            <div class="company__left">
              <p class="text company__text">What we do for you</p>
              <h2 class="caption">
                Strategy. Design Content. Technology Development
              </h2>
              <p class="text company__text">
                There&rsquo;s no&nbsp;secret sauce, no&nbsp;wizard behind the
                curtain. What makes Aerolab tick
                is&nbsp;an&nbsp;interdisciplinary team with a&nbsp;framework
                that fosters candid collaboration.
              </p>
              <a href="#" class="link">More know About us</a>
            </div>
            <div class="company__right">
              <p class="boss company__text">
                With More than 10&nbsp;Years&nbsp;of Knowledge and
                Expertise&nbsp;we Design and Code Websites and Apps,
                We&nbsp;Build Brands and Help Them Succeed
              </p>
              <div class="ceo">
                <img src="/image/ceo.svg" alt="ceo photo" class="photo__ceo" />
                <div class="ceo__right">
                  <h3 class="ceo__name company__text">Genevieve Rodriquez</h3>
                  <p class="ceo__position company__text">
                    Founder & CEO, Webovio
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- feedback -->
      <section class="feedback">
        <div class="container">
          <div class="feedback__head">
            <h2 class="caption">We Have Some Awesome&nbsp;Project.</h2>
            <p class="text feedback__text">
              Lorem Ipsum is&nbsp;simply dummy text of&nbsp;the printing and
              typesetting industry. Lorem Ipsum has been the industry&rsquo;s
              standard dummy text ever since the 1500s,
            </p>
          </div>
        </div>
        <div class="feedback__item">
          <div class="feedback__left">
            <img
              src="./image/feedback1.png"
              alt="picture"
              class="feedback__picture"
            />
            <div class="customer-quote">
              <q class="customer-quote__text company__text"
                >In&nbsp;my&nbsp;history of&nbsp;working with trade show
                vendors, I&nbsp;can honestly say that there is&nbsp;not one
                company that I&rsquo;ve ever worked with that has better service
                than Exhibit Systems.</q
              >

              <div class="person">
                <img
                  src="/image/customer1.svg"
                  alt="Customer photo"
                  class="person__photo"
                />
                <div class="person__right">
                  <h3 class="person__name company__text">Angel Armstrong</h3>
                  <p class="person__position company__text">
                    Founder & CEO, Google
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="feedback__right">
            <h2 class="caption">The wall new Balenciaga.com</h2>
            <p class="text feedback__text">
              This article is&nbsp;floated online with an&nbsp;aim to&nbsp;help
              you find the best dvd printing solution.
            </p>
            <p class="text feedback__text">
              Dvd printing is&nbsp;an&nbsp;important feature used by&nbsp;large
              and small DVD production houses to&nbsp;print information
              on&nbsp;DVDs.
            </p>
            <a href="#" class="link">See Case Study</a>
          </div>
        </div>
        <div class="feedback__item">
          <div class="feedback__left">
            <h2 class="caption">Is this the future of 3D model?</h2>
            <p class="text feedback__text">
              While it&nbsp;was just a&nbsp;TV show, that little speech
              at&nbsp;the beginning of&nbsp;the original Star Trek show really
              did do&nbsp;a&nbsp;good job of&nbsp;capturing our feelings about
              space.
            </p>
            <p class="text feedback__text">
              It&nbsp;is&nbsp;those feelings that drive our love
              of&nbsp;astronomy and our desire to&nbsp;learn more and more
              about&nbsp;it.
            </p>
            <a href="#" class="link">See Case Study</a>
          </div>
          <div class="feedback__right">
            <img
              src="./image/feedback1.png"
              alt="picture"
              class="feedback__picture"
            />
            <div class="customer-quote">
              <q class="customer-quote__text company__text"
                >In&nbsp;my&nbsp;history of&nbsp;working with trade show
                vendors, I&nbsp;can honestly say that there is&nbsp;not one
                company that I&rsquo;ve ever worked with that has better service
                than Exhibit Systems.</q
              >
              <div class="person">
                <img
                  src="/image/customer1.svg"
                  alt="Customer photo"
                  class="person__photo"
                />
                <div class="person__right">
                  <h3 class="person__name company__text">Angel Armstrong</h3>
                  <p class="person__position company__text">
                    Founder & CEO, Google
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="feedback__item">
          <div class="feedback__left">
            <img
              src="./image/feedback1.png"
              alt="picture"
              class="feedback__picture"
            />
            <div class="customer-quote">
              <q class="customer-quote__text company__text"
                >In&nbsp;my&nbsp;history of&nbsp;working with trade show
                vendors, I&nbsp;can honestly say that there is&nbsp;not one
                company that I&rsquo;ve ever worked with that has better service
                than Exhibit Systems.</q
              >
              <div class="person">
                <img
                  src="/image/customer1.svg"
                  alt="Customer photo"
                  class="person__photo"
                />
                <div class="person__right">
                  <h3 class="person__name company__text">Angel Armstrong</h3>
                  <p class="person__position company__text">
                    Founder & CEO, Google
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="feedback__right">
            <h2 class="caption">Is this the future of Online Booking</h2>
            <p class="text feedback__text">
              You should be&nbsp;able to&nbsp;find several indispensable facts
              about motivation in&nbsp;the following paragraphs.
            </p>
            <p class="text feedback__text">
              If&nbsp;there&rsquo;s at&nbsp;least one fact you didn&rsquo;t know
              before, imagine the difference it&nbsp;might make.
            </p>
            <a href="#" class="link">See Case Study</a>
          </div>
        </div>
      </section>

      <!-- offer -->
      <section class="offer">
        <div class="container">
          <h2 class="caption">
            Deation & Evaluation - Best Way to Kick off Your Product Idea
          </h2>
          <ul class="offer__list">
            <li class="offer__item">
              <h3 class="offer__name">Product Design Sprint</h3>
              <p class="text offer__text">
                A&nbsp;five-day workshop that will help you answer crucial
                business questions
              </p>
              <a href="#" class="link">Read more</a>
            </li>
            <li class="offer__item">
              <h3 class="offer__name">Scoping Session</h3>
              <p class="text offer__text">
                A&nbsp;workshop aimed at&nbsp;shaping your business idea,
                answering questions regarding project planning
              </p>
              <a href="#" class="link">Read more</a>
            </li>
            <li class="offer__item">
              <h3 class="offer__name">
                UX <br />
                Review
              </h3>
              <p class="text offer__text">
                An&nbsp;evaluation which will help you radically improve your
                product.
              </p>
              <a href="#" class="link">Read more</a>
            </li>
            <li class="offer__item">
              <h3 class="offer__name">
                Code <br />
                Review
              </h3>
              <p class="text offer__text">
                Do&nbsp;you know what one of&nbsp;the key secrets
                of&nbsp;success is&nbsp;what makes people successful
                in&nbsp;business
              </p>
              <a href="#" class="link">Read more</a>
            </li>
          </ul>
        </div>
      </section>
    </main>

    <!-- footer -->
    <footer>
      
      <div class="container">
        <div class="slogan">
          <h2 class="slogan__title">Let’s make something amazing together.</h2>
          <a href="#" class="link ">let's get started</a>
        </div>
        <div class="contact">
          <div class="contact__phone">
            <p class="contact__text-title text">Phone</p>
            <p class="text white bold">+32 50 31 28 32</p>
          </div>
          <div class="contact__address">
            <p class="contact__text-title text">Address</p>
            <p class="text white bold">491 Merlin Crest Suite 963</p>
          </div>
        </div>
        <div class="wrapper">
          <div class="menu">
            <div class="menu__services">
              <p class="text white bold menu__text-title">Services</p>
              <ul class="menu__list">
                <li class="menu__item">
                  <a href="#" class="menu__link"><p class="text">Strategy Design</p></a>
                </li>
                <li class="menu__item">
                  <a href="#" class="menu__link"><p class="text">Product Design</p></a>
                </li>
                <li class="menu__item">
                  <a href="#" class="menu__link"><p class="text">Content Strategy</p></a>
                </li>
                <li class="menu__item">
                  <a href="#" class="menu__link"><p class="text">Brand Strategy</p></a>
                </li>
                <li class="menu__item">
                  <a href="#" class="menu__link"><p class="text">Development</p></a>
                </li>
              </ul>
            </div>
            <div class="menu__help">
              <p class="text white bold menu__text-title">Help and advice</p>
              <ul class="menu__list">
                <li class="menu__item">
                  <a href="#" class="menu__link"><p class="text">How it works</p></a>
                </li>
                <li class="menu__item">
                  <a href="#" class="menu__link"><p class="text">Contact Support</p></a>
                </li>
                <li class="menu__item">
                  <a href="#" class="menu__link"><p class="text">Privacy Policy</p></a>
                </li>
                <li class="menu__item">
                  <a href="#" class="menu__link"><p class="text">FAQ</p></a>
                </li>
              </ul>
            </div>
            <div class="menu__company">
              <p class="text white bold menu__text-title">Company</p>
              <ul class="menu__list">
                <li class="menu__item">
                  <a href="#" class="menu__link"><p class="text">About</p></a>
                </li>
                <li class="menu__item">
                  <a href="#" class="menu__link"><p class="text">Blog</p></a>
                </li>
                <li class="menu__item">
                  <a href="#" class="menu__link"><p class="text">Contact</p></a>
                </li>
                <li class="menu__item">
                  <a href="#" class="menu__link"><p class="text">Jobs</p></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="menu-touch">
            <p class="text white bold menu-touch__title">Get in touch</p>
            <p class="text">
              Feel free to&nbsp;get in&nbsp;touch with&nbsp;us vai email
            </p>
            <p class="text white bold 24px">info.webovio@gmail.com</p>
            <div class="menu-touch__socials">

              <a href="#" class="menu-touch__link"><img src="./image/facebook.svg" alt="Twitter" class="menu-touch__icon"
                /></a>

              <a href="#" class="menu-touch__link"
                ><img src="./image/twitter.svg" alt="Twitter" class="menu-touch__icon"
              /></a>
              <a href="#" class="menu-touch__link"
                ><img src="./image/g+.svg" alt="Google+" class="menu-touch__icon"
              /></a>
              <a href="#" class="menu-touch__link"
                ><img src="./image/in.svg" alt="in" class="menu-touch__icon"
              /></a>
            </div>
          </div>
        </div>
        <div class="rights">
          <img src="./image/logo.svg" alt="Logo" class="small-logo" />
          <p class="text 14px">© 2020@webovio. All Rights Reserved.</p>
        </div>
      </div>
    </footer>
  </body>
</html>
